Repository angular-klingon/klingon, pull requests merged in 2018-09, with the labels that each got.

#30 fix(@klingon/server, @klingon/ui): add Project Root Directory field to UI
  .gitignore
  packages/klingon-app/package-lock.json
  packages/klingon-server/package-lock.json
  packages/klingon-server/terminal.js
  packages/klingon-ui/package-lock.json
  packages/klingon-ui/src/app/cli/cli.service.ts
  packages/klingon-ui/src/app/cli/create/create.component.html
  packages/klingon-ui/src/app/cli/create/create.component.ts
  packages/klingon-ui/src/app/cli/flags/flags.component.css
  packages/klingon-ui/src/app/cli/flags/flags.component.ts
  packages/klingon-website/package-lock.json
Labels: PR action: merge, package: @klingon/server, package: @klingon/ui, type: enhancement

#31 #23 fix : replace workspace by home directory and replace ng command by ng.cmd …
  packages/klingon-server/terminal.js
  packages/klingon-ui/package-lock.json
  packages/klingon-website/package-lock.json
Labels: PR action: merge, package: @klingon/server, type: enhancement

#48 docs: add waffle.io badge
  readme.md
Labels: review
